src/main/resources/xsd/domain-payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  FX Payment Domain Schema v1
  Internal canonical payment model – published to fx.payment.valid after
  successful processing of an inbound pacs.009 message.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:com:fx:payment:domain:v1"
           xmlns:tns="urn:com:fx:payment:domain:v1"
           elementFormDefault="qualified">

    <xs:element name="DomainPayment" type="tns:DomainPayment"/>

    <xs:complexType name="DomainPayment">
        <xs:sequence>
            <!-- Identity -->
            <xs:element name="PaymentId"        type="tns:UUIDType"/>
            <xs:element name="OriginalMessageId" type="tns:Max35Text"/>
            <xs:element name="TransactionId"    type="tns:Max35Text"/>
            <xs:element name="EndToEndId"       type="tns:Max35Text"   minOccurs="0"/>
            <xs:element name="UETR"             type="tns:UUIDType"    minOccurs="0"/>

            <!-- Settlement -->
            <xs:element name="SettlementAmount"   type="xs:decimal"/>
            <xs:element name="SettlementCurrency" type="tns:CurrencyCode"/>
            <xs:element name="SettlementDate"     type="xs:string"/>
            <xs:element name="SettlementMethod"   type="tns:Max4Text"  minOccurs="0"/>
            <xs:element name="ExchangeRate"       type="xs:decimal"    minOccurs="0"/>

            <!-- Debtor -->
            <xs:element name="DebtorBIC"          type="tns:BICType"/>
            <xs:element name="DebtorName"         type="tns:Max140Text" minOccurs="0"/>
            <xs:element name="DebtorIBAN"         type="tns:IBANType"   minOccurs="0"/>
            <xs:element name="DebtorAgentBIC"     type="tns:BICType"    minOccurs="0"/>

            <!-- Creditor -->
            <xs:element name="CreditorBIC"        type="tns:BICType"/>
            <xs:element name="CreditorName"       type="tns:Max140Text" minOccurs="0"/>
            <xs:element name="CreditorIBAN"       type="tns:IBANType"   minOccurs="0"/>
            <xs:element name="CreditorAgentBIC"   type="tns:BICType"    minOccurs="0"/>

            <!-- Charge & Purpose -->
            <xs:element name="ChargeBearer"       type="tns:Max4Text"   minOccurs="0"/>
            <xs:element name="PurposeCode"        type="tns:Max4Text"   minOccurs="0"/>
            <xs:element name="RemittanceInfo"     type="tns:Max140Text" minOccurs="0"/>

            <!-- Processing -->
            <xs:element name="ProcessingTimestamp" type="xs:string"/>
            <xs:element name="PaymentStatus"       type="tns:Max20Text"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="UUIDType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BICType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3})?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IBANType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max20Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
