src/main/resources/xsd/pacs.009.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ISO 20022 pacs.009.001.08 – Financial Institution Credit Transfer
  Simplified schema aligned with the FX payment processing requirements.
  Full normative schema: https://www.iso20022.org/catalogue-messages/iso-20022-messages-archive?search=pacs.009
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08"
           xmlns:tns="urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08"
           elementFormDefault="qualified">

    <!-- ═══════════════════ Root Element ════════════════════════════════ -->

    <xs:element name="Document" type="tns:Document"/>

    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FIToFICstmrCdtTrf" type="tns:FIToFICstmrCdtTrf"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ═══════════════════ Message Structure ═══════════════════════════ -->

    <xs:complexType name="FIToFICstmrCdtTrf">
        <xs:sequence>
            <xs:element name="GrpHdr" type="tns:GroupHeader93"/>
            <xs:element name="CdtTrfTxInf" type="tns:CreditTransferTransaction58" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ═══════════════════ Group Header ════════════════════════════════ -->

    <xs:complexType name="GroupHeader93">
        <xs:sequence>
            <xs:element name="MsgId"    type="tns:Max35Text"/>
            <xs:element name="CreDtTm"  type="xs:string"/>
            <xs:element name="NbOfTxs"  type="tns:Max15NumericText"/>
            <xs:element name="SttlmInf" type="tns:SettlementInstruction11"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SettlementInstruction11">
        <xs:sequence>
            <xs:element name="SttlmMtd" type="tns:SettlementMethod1Code"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="SettlementMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLRG"/>
            <xs:enumeration value="COVE"/>
            <xs:enumeration value="GROS"/>
            <xs:enumeration value="INDA"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ═══════════════════ Credit Transfer Transaction ═════════════════ -->

    <xs:complexType name="CreditTransferTransaction58">
        <xs:sequence>
            <xs:element name="PmtId"           type="tns:PaymentIdentification13"/>
            <xs:element name="IntrBkSttlmAmt"  type="tns:ActiveCurrencyAndAmount"/>
            <xs:element name="IntrBkSttlmDt"   type="xs:date"/>
            <xs:element name="XchgRate"         type="tns:BaseOneRate"          minOccurs="0"/>
            <xs:element name="ChrgBr"           type="tns:ChargeBearerType1Code"/>
            <xs:element name="Dbtr"             type="tns:BranchAndFinancialInstitutionIdentification8"/>
            <xs:element name="DbtrAcct"         type="tns:CashAccount40"         minOccurs="0"/>
            <xs:element name="DbtrAgt"          type="tns:BranchAndFinancialInstitutionIdentification8"/>
            <xs:element name="CdtrAgt"          type="tns:BranchAndFinancialInstitutionIdentification8"/>
            <xs:element name="Cdtr"             type="tns:BranchAndFinancialInstitutionIdentification8"/>
            <xs:element name="CdtrAcct"         type="tns:CashAccount40"         minOccurs="0"/>
            <xs:element name="Purp"             type="tns:Purpose2Choice"        minOccurs="0"/>
            <xs:element name="RmtInf"           type="tns:RemittanceInformation22" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ═══════════════════ Payment Identification ═══════════════════════ -->

    <xs:complexType name="PaymentIdentification13">
        <xs:sequence>
            <xs:element name="InstrId"     type="tns:Max35Text"  minOccurs="0"/>
            <xs:element name="EndToEndId"  type="tns:Max35Text"/>
            <xs:element name="TxId"        type="tns:Max35Text"/>
            <xs:element name="UETR"        type="tns:UUIDv4Identifier" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ═══════════════════ Financial Institution ════════════════════════ -->

    <xs:complexType name="BranchAndFinancialInstitutionIdentification8">
        <xs:sequence>
            <xs:element name="FinInstnId" type="tns:FinancialInstitutionIdentification23"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FinancialInstitutionIdentification23">
        <xs:sequence>
            <xs:element name="BICFI" type="tns:BICFIDec2014Identifier" minOccurs="0"/>
            <xs:element name="Nm"    type="tns:Max140Text"             minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ═══════════════════ Cash Account ════════════════════════════════ -->

    <xs:complexType name="CashAccount40">
        <xs:sequence>
            <xs:element name="Id" type="tns:AccountIdentification4Choice"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AccountIdentification4Choice">
        <xs:sequence>
            <xs:element name="IBAN" type="tns:IBAN2007Identifier" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ═══════════════════ Amount ══════════════════════════════════════ -->

    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="tns:ActiveCurrencyAndAmountSimpleType">
                <xs:attribute name="Ccy" type="tns:ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="ActiveCurrencyAndAmountSimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:totalDigits   value="18"/>
            <xs:fractionDigits value="5"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ═══════════════════ Purpose ═════════════════════════════════════ -->

    <xs:complexType name="Purpose2Choice">
        <xs:sequence>
            <xs:element name="Cd" type="tns:ExternalPurpose1Code" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ═══════════════════ Remittance Information ═══════════════════════ -->

    <xs:complexType name="RemittanceInformation22">
        <xs:sequence>
            <xs:element name="Ustrd" type="tns:Max140Text" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ═══════════════════ Charge Bearer ═══════════════════════════════ -->

    <xs:simpleType name="ChargeBearerType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRED"/>
            <xs:enumeration value="DEBT"/>
            <xs:enumeration value="SHAR"/>
            <xs:enumeration value="SLEV"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ═══════════════════ Simple Types ════════════════════════════════ -->

    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3})?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UUIDv4Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits   value="11"/>
            <xs:fractionDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ExternalPurpose1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
